@charset "UTF-8";

/* λ…Έν† μ‚°μ¤ */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff2/NotoSansKR-Thin-Hestia.woff2) format('woff2'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/otf/NotoSansKR-Thin-Hestia.otf) format('opentype'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Thin-Hestia.eot),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype');
}



@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff2/NotoSansKR-Light-Hestia.woff2) format('woff2'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff2/NotoSansKR-Regular-Hestia.woff2) format('woff2'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Regular-Hestia.eot),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff2/NotoSansKR-Medium-Hestia.woff2) format('woff2'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Medium-Hestia.eot),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff2/NotoSansKR-Bold-Hestia.woff2) format('woff2'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype'),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Bold-Hestia.eot),
    url(../font/theeluwin-NotoSansKR-Hestia/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype');
}


